html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dataTables_length {
    display: none;
}

#datatable_filter input {
    width: 300PX;
    padding-left: 10px;
    margin-left: 10px;
}

.data-actions a {
    display: inline-block;
    width: 40px;
    cursor: pointer;
}

.data-actions {
    text-align: right;
}

.contact-name, .contact-name-header, .contact-number-header, .contact-email-header {
    text-align: center
}
