@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="row">
    <table id="tbl-product-details" class="table responsive-table highlight centered">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Release date</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
}

